@import "tailwindcss";

@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  --color-primary: #121211;
  --color-secondary: #1c1c24;
  --color-tertiary: #252526;
  --color-text: #8b8c94;

  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

:root {
  --color-secondary: #1a1c1b;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  color: var(--color-text);
  min-height: 100vh;
}
